<a href="https://colab.research.google.com/github/Konoko2004/Sales_Data_Analysis/blob/main/Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

raw_data = pd.read_csv(r'https://raw.githubusercontent.com/Konoko2004/Sales_Data_Analysis/main/sales_data.csv')
raw_data['Date'] = pd.to_datetime(raw_data['Date'])
raw_data[raw_data['Date']=='2016-07-31']

             Date  Day Month  Year  ...  Unit_Price Profit  Cost Revenue
203    2016-07-31   31  July  2016  ...         120   1228  1035    2263
317    2016-07-31   31  July  2016  ...         120    335   270     605
3034   2016-07-31   31  July  2016  ...           5     18    12      30
3035   2016-07-31   31  July  2016  ...           5     38    26      64
6305   2016-07-31   31  July  2016  ...           5     23    24      47
...           ...  ...   ...   ...  ...         ...    ...   ...     ...
104927 2016-07-31   31  July  2016  ...          35    190   169     359
105274 2016-07-31   31  July  2016  ...           5     38    32      70
105275 2016-07-31   31  July  2016  ...           5     19    16      35
112217 2016-07-31   31  July  2016  ...          64    433   264     697
112281 2016-07-31   31  July  2016  ...          64    658   408    1066

[82 rows x 18 columns]

In [88]:
d = raw_data.set_index('Date')
x = raw_data[['Date','Age_Group','Profit']]
x['Date'].max()

Timestamp('2016-07-31 00:00:00')

In [46]:


d = raw_data[raw_data['Customer_Gender']=='M'].groupby(['Date']).agg({'Profit':['min','max','first','last']})
raw_data['Date'] = pd.to_datetime(raw_data['Date'])

raw_data[(raw_data['Date'].dt.month == 5) & (raw_data['Date'].dt.year == 2013)].max()



#### if we are finding month 7 2016 last trading date, your put_df_here should only contain the data for that month and year.
#### Also filter your put_df_here to exclude any Null values in price.
#### eg : dataframe should only contain 1 July 2016 to 31 July 2016 containing prices.

#Your DF should look like this below :

#### Ticker_Name | Date        | Price
#### xyz         | 1 Jul 2016  | 26.00
#### ...         | ...         | ...
#### xyz         | 31 Jul 2016 | 28.00





def last_transaction_of_the_month(put_df_here,put_ticker_here):
  df = put_df_here
  ticker = put_ticker_here
  df = put_df_here[put_df_here['Ticker_Name']==ticker]
  last_trans_date = df['Date'].max()
  Last_trading_price = df[(df['Date']==last_trans_date) & (df['Ticker_Name']==ticker)]['Price']
  return Last_trading_price

Date                2013-05-31 00:00:00
Day                                  31
Month                               May
Year                               2013
Customer_Age                         64
Age_Group                   Youth (<25)
Customer_Gender                       M
Country                   United States
State                           Yveline
Product_Category                  Bikes
Sub_Category                 Road Bikes
Product              Road-750 Black, 58
Order_Quantity                        1
Unit_Cost                          2171
Unit_Price                         3578
Profit                             1371
Cost                               2171
Revenue                            3542
dtype: object

In [ ]:

#Top 10 best sellers global

raw_data[['Product','Order_Quantity','Profit']].groupby(['Product']).sum().sort_values('Order_Quantity',ascending = False).head(10)

#Top 10 most profitable products global

raw_data[['Product','Order_Quantity','Profit']].groupby(['Product']).sum().sort_values('Profit',ascending = False).head(10)

                         Order_Quantity   Profit
Product
Mountain-200 Black, 38             1642  1310464
Road-150 Red, 62                   1191  1243755
Mountain-200 Silver, 42            1461  1231452
Sport-100 Helmet, Red             63663  1191402
Mountain-200 Silver, 38            1477  1165560
Sport-100 Helmet, Black           62105  1141330
Mountain-200 Black, 46             1349  1080672
Road-150 Red, 52                    980  1053260
Sport-100 Helmet, Blue            55895  1048446
Mountain-200 Black, 42             1282  1036542

        Year              Product
0       2013  Hitch Rack - 4-Bike
1       2015  Hitch Rack - 4-Bike
2       2014  Hitch Rack - 4-Bike
3       2016  Hitch Rack - 4-Bike
4       2014  Hitch Rack - 4-Bike
...      ...                  ...
113031  2016      Classic Vest, S
113032  2014      Classic Vest, M
113033  2016      Classic Vest, M
113034  2014      Classic Vest, L
113035  2016      Classic Vest, L

[113036 rows x 2 columns]