<a href="https://colab.research.google.com/github/Konoko2004/Sales_Data_Analysis/blob/main/Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

raw_data = pd.read_csv(r'https://raw.githubusercontent.com/Konoko2004/Sales_Data_Analysis/main/sales_data.csv')
raw_data

              Date  Day     Month  Year  ...  Unit_Price Profit  Cost Revenue
0       2013-11-26   26  November  2013  ...         120    590   360     950
1       2015-11-26   26  November  2015  ...         120    590   360     950
2       2014-03-23   23     March  2014  ...         120   1366  1035    2401
3       2016-03-23   23     March  2016  ...         120   1188   900    2088
4       2014-05-15   15       May  2014  ...         120    238   180     418
...            ...  ...       ...   ...  ...         ...    ...   ...     ...
113031  2016-04-12   12     April  2016  ...          64    112    72     184
113032  2014-04-02    2     April  2014  ...          64    655   528    1183
113033  2016-04-02    2     April  2016  ...          64    655   528    1183
113034  2014-03-04    4     March  2014  ...          64    684   576    1260
113035  2016-03-04    4     March  2016  ...          64    655   552    1207

[113036 rows x 18 columns]

In [16]:
raw_data.head()
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  datetime64[ns]
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
 18  Date 2            113036 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(9), object(8)
memory usage: 16.4+ MB

In [46]:


d = raw_data[raw_data['Customer_Gender']=='M'].groupby(['Date']).agg({'Profit':['min','max','first','last']})
raw_data['Date'] = pd.to_datetime(raw_data['Date'])

raw_data[(raw_data['Date'].dt.month == 5) & (raw_data['Date'].dt.year == 2013)].max()



def last_transaction_of_the_month(put_df_here,put_ticker_here,put_month_here, put_year_here):
  df = put_df_here
  ticker = put_ticker_here
  yr = put_year_here
  mth = put_month_here

  return df[(df['Date'].dt.month == mth) & (df['Ticker']==ticker) & (df['Date'].dt.year == yr)].max()

Date                2013-05-31 00:00:00
Day                                  31
Month                               May
Year                               2013
Customer_Age                         64
Age_Group                   Youth (<25)
Customer_Gender                       M
Country                   United States
State                           Yveline
Product_Category                  Bikes
Sub_Category                 Road Bikes
Product              Road-750 Black, 58
Order_Quantity                        1
Unit_Cost                          2171
Unit_Price                         3578
Profit                             1371
Cost                               2171
Revenue                            3542
dtype: object

In [ ]:

#Top 10 best sellers global

raw_data[['Product','Order_Quantity','Profit']].groupby(['Product']).sum().sort_values('Order_Quantity',ascending = False).head(10)

#Top 10 most profitable products global

raw_data[['Product','Order_Quantity','Profit']].groupby(['Product']).sum().sort_values('Profit',ascending = False).head(10)

                         Order_Quantity   Profit
Product
Mountain-200 Black, 38             1642  1310464
Road-150 Red, 62                   1191  1243755
Mountain-200 Silver, 42            1461  1231452
Sport-100 Helmet, Red             63663  1191402
Mountain-200 Silver, 38            1477  1165560
Sport-100 Helmet, Black           62105  1141330
Mountain-200 Black, 46             1349  1080672
Road-150 Red, 52                    980  1053260
Sport-100 Helmet, Blue            55895  1048446
Mountain-200 Black, 42             1282  1036542

        Year              Product
0       2013  Hitch Rack - 4-Bike
1       2015  Hitch Rack - 4-Bike
2       2014  Hitch Rack - 4-Bike
3       2016  Hitch Rack - 4-Bike
4       2014  Hitch Rack - 4-Bike
...      ...                  ...
113031  2016      Classic Vest, S
113032  2014      Classic Vest, M
113033  2016      Classic Vest, M
113034  2014      Classic Vest, L
113035  2016      Classic Vest, L

[113036 rows x 2 columns]