<a href="https://colab.research.google.com/github/Konoko2004/Sales_Data_Analysis/blob/main/Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

raw_data = pd.read_csv(r'https://raw.githubusercontent.com/Konoko2004/Sales_Data_Analysis/main/sales_data.csv')

In [5]:
raw_data.head()

         Date  Day     Month  Year  ...  Unit_Price Profit  Cost Revenue
0  2013-11-26   26  November  2013  ...         120    590   360     950
1  2015-11-26   26  November  2015  ...         120    590   360     950
2  2014-03-23   23     March  2014  ...         120   1366  1035    2401
3  2016-03-23   23     March  2016  ...         120   1188   900    2088
4  2014-05-15   15       May  2014  ...         120    238   180     418

[5 rows x 18 columns]

In [38]:
#Top 10 best sellers global

raw_data[['Product','Order_Quantity','Profit']].groupby(['Product']).sum().sort_values('Order_Quantity',ascending = False).head(10)

#Top 10 most profitable products global

raw_data[['Product','Order_Quantity','Profit']].groupby(['Product']).sum().sort_values('Profit',ascending = False).head(10)

                         Order_Quantity   Profit
Product
Mountain-200 Black, 38             1642  1310464
Road-150 Red, 62                   1191  1243755
Mountain-200 Silver, 42            1461  1231452
Sport-100 Helmet, Red             63663  1191402
Mountain-200 Silver, 38            1477  1165560
Sport-100 Helmet, Black           62105  1141330
Mountain-200 Black, 46             1349  1080672
Road-150 Red, 52                    980  1053260
Sport-100 Helmet, Blue            55895  1048446
Mountain-200 Black, 42             1282  1036542

        Year              Product
0       2013  Hitch Rack - 4-Bike
1       2015  Hitch Rack - 4-Bike
2       2014  Hitch Rack - 4-Bike
3       2016  Hitch Rack - 4-Bike
4       2014  Hitch Rack - 4-Bike
...      ...                  ...
113031  2016      Classic Vest, S
113032  2014      Classic Vest, M
113033  2016      Classic Vest, M
113034  2014      Classic Vest, L
113035  2016      Classic Vest, L

[113036 rows x 2 columns]