<a href="https://colab.research.google.com/github/Konoko2004/Sales_Data_Analysis/blob/main/Pandas%20Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

raw_data = pd.read_csv(r'https://raw.githubusercontent.com/Konoko2004/Sales_Data_Analysis/main/sales_data.csv')
raw_data.head()

         Date  Day     Month  Year  ...  Unit_Price Profit  Cost Revenue
0  2013-11-26   26  November  2013  ...         120    590   360     950
1  2015-11-26   26  November  2015  ...         120    590   360     950
2  2014-03-23   23     March  2014  ...         120   1366  1035    2401
3  2016-03-23   23     March  2016  ...         120   1188   900    2088
4  2014-05-15   15       May  2014  ...         120    238   180     418

[5 rows x 18 columns]

In [45]:
a =raw_data.groupby('Date')['Profit'].sum()

a.sort_values(inplace = True)
a = pd.DataFrame(a)

In [32]:
b = pd.DataFrame(a).quantile(q=[0, .25, .50, .75, 1])
b

        Profit
0.00    523.00
0.25   6190.50
0.50  10677.50
0.75  28204.75
1.00  72218.00

In [30]:
np.percentile(a, [0, 25, 50, 75, 100])

array([  523.  ,  6190.5 , 10677.5 , 28204.75, 72218.  ])

In [47]:
a['Percentile'] = pd.qcut(a['Profit'],q = [0,0.25,0.5,0.75,1], labels = ['25th pct','50th pct','75 pct','100 pct'])
a

            Profit Percentile
Date
2013-02-23     523   25th pct
2011-11-04     546   25th pct
2011-02-21     570   25th pct
2013-01-06     653   25th pct
2011-03-05     693   25th pct
...            ...        ...
2015-12-07   62919    100 pct
2016-06-14   63727    100 pct
2016-06-21   65065    100 pct
2016-06-11   65218    100 pct
2016-03-01   72218    100 pct

[1884 rows x 2 columns]